body{
    background-image:url(ugh.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color:black;
    background-color: ;
    font-size: xx-large;
}
h2{
    color: red;
    font-size: large;
}
ol{
    Color:black
    
}
a{
    padding: 10px;
    color:black;
    font-size: larger;
    text-decoration: none;
    background-color:pink;
}

a:hover{
    background-color: blue;
    color:white;
}