body{
    background-image:url(this.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color:black;
    background-color:none ;
    font-size: xx-large;
}
h2{
    color: red;
    font-size: xx-large;
}
ol{
    Color:black
    
}
a{
    display: inline-block;
    word-wrap: none;
    padding: 10px;
    overflow: hidden;
    color:black;
    font-size: larger;
    text-decoration: none;
    background-color:pink;

}

a:hover{
    background-color: blue;
    color:white;
}