body{
    background-image:url(ugh.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color:black;
    background-color: ;
    font-size: xx-large;
}
h2{
    color: red;
    font-size: large;
}
ol{
    Color:black
    
}